<!DOCTYPE html>
<html lang="ko">
<head>
	<title>모닥불 INFO</title>
	<meta name="keywords" content="세종대학교,소프트웨어융합대학,소융대">
	<meta name="author" content="Team IML">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 모바일 브라우저 상태바 컬러 -->
	<meta name="theme-color" content="white">
	<!-- 모닥불 shortcut 아이콘 -->
	<link rel="apple-touch-icon-precomposed" type="image/png" href="../static/image/ModakbulLOGO.png">
	<link rel="apple-touch-icon-precomposed" type="image/png" href="../static/image/ModakbulLOGO.png">
	<!-- 아이콘 -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="../static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--CSS-->
	<link href="../static/css/style.min.css" rel="stylesheet">
	<!--side menu-->
	<link rel="stylesheet" type="text/css" href="../static/css/sidemenu/demo.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/sidemenu/component.css" />
	<!--fire animation css-->
	<link rel="stylesheet" type="text/css" href="../static/css/fire.css">
	<!--animation css-->
	<link rel="stylesheet" type="text/css" href="../static/css/animation/animate.css">
	<!--custom css-->
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>


<body class="M_white_theme" onload="setTheme()">
	<!--모닥불 사이드메뉴-->
	<div id="M_nav_container" class="container M_sidemenu">
		<ul id="gn-menu" class="gn-menu-main M_boxshadow">
			<!--nav bar 메인 로고-->
			<a class="fir_all_contain" href="#">
				<div class = "fire_container">
					<div class = "fire_flame" id = "flame-2"></div>
					<div class = "fire_flame" id = "flame-1"></div>
					<div class = "fire_flame" id = "flame-3"></div>
					<div class = "fire_small-element"></div>
					<div class = "fire_small-element"></div>
					<div class = "fire_fire-bottom">
						<div class = "fire_main-fire"></div>
					</div>
					<div class = "fire_wood" id = "wood-1"></div>
					<div class = "fire_wood" id = "wood-2"></div>
				</div>
				<div id="M_fire_logo" class="fire_logo">Burn Young</div>
			</a>
			<!--사이드 메뉴-->
			<li class="gn-trigger">
				<a id="M_gn-icon" class="gn-icon gn-icon-menu" style="padding-left : 20px"><span>Menu</span></a>
				<nav id="gn-menu-wrapper" class="gn-menu-wrapper M_boxshadow_sidemenu">
					<div id="gn-scroller" class="gn-scroller">
						<ul id="gn-menu2" class="gn-menu">
							<li><a><i class="fas fa-bullhorn" style="padding: 0 22px"></i>공지사항</a></li>
							<li><a><i class="far fa-bell" style="padding: 0 22px"></i>학생회소개</a></li>
							<li class="M_dropdown_list">
								<div onclick="console.log('학생회비')" class="M_dropdown_real_body">
									<i id="M_studentMoneyButton" class="fas fa-file-invoice-dollar" style="padding: 0 23px"></i>학생회비내역
								</div>
								<i id="M_dropdown_icon_money" class="fas fa-sort-down M_dropdown_icon" onclick="M_dropdown_money()"></i>
							</li>
							<div id="M_studentMoney" class="display_none">
								<div>
									<a><i class="fas fa-minus M_dropdown_hypeon"></i>소프트웨어융합대학</a>
									<a><i class="fas fa-minus M_dropdown_hypeon"></i>컴퓨터공학과</a>
									<a><i class="fas fa-minus M_dropdown_hypeon"></i>소프트웨어학과</a>
									<a><i class="fas fa-minus M_dropdown_hypeon"></i>정보보호학과</a>
									<a><i class="fas fa-minus M_dropdown_hypeon"></i>데이터사이언스학과</a>
									<a><i class="fas fa-minus M_dropdown_hypeon"></i>지능기전공학부</a>
									<a><i class="fas fa-minus M_dropdown_hypeon"></i>디자인이노베이션</a>
									<a><i class="fas fa-minus M_dropdown_hypeon"></i>만화애니메이션택</a>
								</div>
							</div>
							<li><a><i class="fas fa-feather-alt" style="padding: 0 22px"></i>민원</a></li>
							<li><a><i class="far fa-images" style="padding: 0 22px"></i>갤러리</a></li>
							<li class="M_dropdown_list">
								<div onclick="console.log('공모전')" class="M_dropdown_real_body">
									<i id="M_studentMoneyButton" class="fas fa-file-invoice-dollar" style="padding: 0 23px"></i>공모전
								</div>
								<i id="M_dropdown_icon_money" class="fas fa-sort-down M_dropdown_icon" onclick="M_dropdown_competition()"></i>
							</li>
							<div id="M_studentCompetition" class="display_none">
								<div>
									<a><i class="fas fa-minus M_dropdown_hypeon"></i>소융대 공모전</a>
									<a><i class="fas fa-minus M_dropdown_hypeon"></i>외부 공모전</a>
									<a><i class="fas fa-minus M_dropdown_hypeon"></i>공모전 구인</a>
								</div>
							</div>
							<li class="M_dropdown_list">
								<div onclick="console.log('세종소융봉사')" class="M_dropdown_real_body">
									<i id="M_studentMoneyButton" class="fas fa-file-invoice-dollar" style="padding: 0 23px"></i>세종소융봉사
								</div>
								<i id="M_dropdown_icon_money" class="fas fa-sort-down M_dropdown_icon" onclick="M_dropdown_volunteer()"></i>
							</li>
							<div id="M_studentVolunteer" class="display_none">
								<div>
									<a><i class="fas fa-minus M_dropdown_hypeon"></i>세종소융봉사공지</a>
									<a><i class="fas fa-minus M_dropdown_hypeon"></i>멘토링 1조</a>
									<a><i class="fas fa-minus M_dropdown_hypeon"></i>멘토링 2조</a>
									<a><i class="fas fa-minus M_dropdown_hypeon"></i>멘토링 3조</a>
									<a><i class="fas fa-minus M_dropdown_hypeon"></i>멘토링 4조</a>
									<a><i class="fas fa-minus M_dropdown_hypeon"></i>멘토링 5조</a>
								</div>
							</div>
							<li><a><i class="far fa-check-square" style="padding: 0 22px"></i>투표/설문조사</a></li>
							<li><a><i class="far fa-chart-bar" style="padding: 0 22px"></i>통계자료</a></li>
						</ul>
					</div>
				</nav>
			</li>
			<!--검색버튼-->
			<li onclick="M_search_bar_on()">
				<a><i id="M_search_icon" class="fas fa-search"></i></a>
				<div id="M_search_bar" class="M_search_bar M_boxshadow display_none">
					<input id="M_search_input" type="text" name="search_about" autocomplete="off" onkeyup="search_enter()">
				</div>
			</li>
			<!--유저버튼-->
			<li id="M_nav_user" class="gn-trigger" onclick="M_dropdown_user()">
				<a><i class="fas fa-user" style="padding: 0 10px;"></i></a>
				<!--로그인시-->
				<div id="M_nav_user_login" class="M_nav_user M_boxshadow_user display_none">
					<a>내 정보</a>
					<a>로그아웃</a>
					<a onclick="changeTheme()"><i id="M_theme" class="M_theme fas fa-moon"></i></a>
				</div>
				<!--비로그인시-->
				<div id="M_nav_user_nologin" class="M_nav_user M_boxshadow_user display_none">
					<a>로그인</a>
					<a onclick="changeTheme()"><i id="M_theme" class="M_theme fas fa-moon"></i></a>
				</div>
			</li>
		</ul>
	</div>
	<!--정보-->
	<div id="M_body" class="M_body">
		<!--글꼴-->
		<div>
			<h1 style="border-bottom: 3px solid #BDBDBD; padding-bottom: 10px;">글꼴</h1>
			<h4 style="font-family: 'Do Hyeon', sans-serif;">구글폰트</h4>
			<div class="M_info_div" style="font-family: 'Do Hyeon', sans-serif;">
				<p class="M_font_bold" style="font-family: 'Do Hyeon', sans-serif;">@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap&subset=korean');</p>
				<p class="M_font_bold" style="color: green; font-family: 'Do Hyeon', sans-serif;">font-family: 'Do Hyeon', sans-serif;</p>
			</div>
			<h4 style="font-family: 'NanumBarunGothic', 'sans-serif';">나눔바른고딕</h4>
			<div class="M_info_div" style="font-family: 'NanumBarunGothic', 'sans-serif';">
				<p class="M_font_bold" style="font-family: 'NanumBarunGothic', 'sans-serif';">@font-face { 
					<br>font-family: 'NanumBarunGothic';
					<br>src: url('../fonts/NanumBarunGothic/NanumBarunGothic.eot') format('embedded-opentype'),
					<br>url('../fonts/NanumBarunGothic/NanumBarunGothic.woff') format('woff');}</p>
				<p class="M_font_bold" style="color: green; font-family: 'NanumBarunGothic', 'sans-serif';">font-family: 'NanumBarunGothic', 'sans-serif';</p>
			</div>
			<h4 style="font-family: 'NanumGothic', 'sans-serif';">나눔고딕</h4>
			<div class="M_info_div" style="font-family: 'NanumGothic', 'sans-serif';">
				<p class="M_font_bold" style="font-family: 'NanumGothic', 'sans-serif';">@font-face { font-family: 'NanumGothic';
					<br>src: url('../fonts/NanumBarunGothic/NanumGothic.eot') format('embedded-opentype'),
					<br>url('../fonts/NanumBarunGothic/NanumGothic.woff') format('woff');}</p>
				<p class="M_font_bold" style="color: green; font-family: 'NanumGothic', 'sans-serif';">font-family: 'NanumGothic', 'sans-serif';</p>
			</div>
		</div>
		<!--색상표-->
		<div>
			<h1 style="border-bottom: 3px solid #BDBDBD; padding-bottom: 10px;">색상</h1>
			<div style="width: 200px; height: 60px; background-color: #c30e2e; color: white; border: 5px solid #aaaaaa; display: inline-block; margin-right: 30px; margin-bottom: 20px;">#c30e2e</div>
			<div style="width: 200px; height: 60px; background-color: #5f6f81; color: white; border: 5px solid #aaaaaa; display: inline-block; margin-right: 30px; margin-bottom: 20px;">#5f6f81</div>
			<div style="width: 200px; height: 60px; background-color: #323639; color: white; border: 5px solid #aaaaaa; display: inline-block; margin-right: 30px; margin-bottom: 20px;">#323639</div>
			<div style="width: 200px; height: 60px; background-color: #202124; color: white; border: 5px solid #aaaaaa; display: inline-block; margin-right: 30px; margin-bottom: 20px;">#202124</div>
			<div style="width: 200px; height: 60px; background-color: #494E52; color: white; border: 5px solid #aaaaaa; display: inline-block; margin-right: 30px; margin-bottom: 20px;">#494E52</div>
			<div style="width: 200px; height: 60px; background-color: #e2e2e2; color: black; border: 5px solid #aaaaaa; display: inline-block; margin-right: 30px; margin-bottom: 20px;">#e2e2e2</div>
			<div style="width: 200px; height: 60px; background-color: #f5f6fa; color: black; border: 5px solid #aaaaaa; display: inline-block; margin-right: 30px; margin-bottom: 20px;">#f5f6fa</div>
			<div style="width: 200px; height: 60px; background-color: #f5f6fa; color: black; border: 5px solid #aaaaaa; display: inline-block; margin-right: 30px; margin-bottom: 20px;">#f8f8f8</div>
			<div style="width: 200px; height: 60px; background-color: #41464a; color: black; border: 5px solid #aaaaaa; display: inline-block; margin-right: 30px; margin-bottom: 20px;">#41464a</div>
		</div>
		<!--박스쉐도우-->
		<div>
			<h1 style="border-bottom: 3px solid #BDBDBD; padding-bottom: 10px;">박스쉐도우</h1>
			<div class="M_info_div">
				<p class="M_font_bold">box-shadow: 0px 4px 30px -4px</p>
				<p class="M_font_bold" style="color: green;">.M_boxshadow</p>
			</div>
		</div>
		<!--아이콘-->
		<div>
			<h1 style="border-bottom: 3px solid #BDBDBD; padding-bottom: 10px;">아이콘</h1>
			<div class="M_info_div">
				<xmp class="M_font_bold" style="white-space: pre-wrap; font-size: 14px; font-family: 'NanumGothic', 'sans-serif';"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
				</xmp>
				<xmp class="M_font_bold" style="color: green; white-space: pre-wrap; font-size: 14px; font-family: 'NanumGothic', 'sans-serif';"><i class="fab fa-accessible-icon"></i>
				</xmp>
			</div>
		</div>
		<!--애니메이션-->
		<div>
			<h1 style="border-bottom: 3px solid #BDBDBD; padding-bottom: 10px;">애니메이션</h1>
			<h4>Animate.css</h4>
			<div class="M_info_div">
				<xmp class="M_font_bold" style="white-space: pre-wrap; font-size: 14px; font-family: 'NanumGothic', 'sans-serif';"><link rel="stylesheet" type="text/css" href="../static/css/animation/animate.css">
				</xmp>
				<p class="M_font_bold" style="color: green;">.animated .원하는애니메이션Class</p>
				<iframe style="width: 100%; height: 500px;" src="https://daneden.github.io/animate.css/"></iframe>
			</div>
		</div>
		<!--로고-->
		<div>
			<h1 style="border-bottom: 3px solid #BDBDBD; padding-bottom: 10px;">로고</h1>
			<div class="M_info_div">
				<img src="../static/image/ModakbulLOGO.png" style="width: 100px; height: 100px;">
			</div>
		</div>
		<!--css 기능-->
		<div>
			<h1 style="border-bottom: 3px solid #BDBDBD; padding-bottom: 10px;">CSS</h1>
			<h4>클래스 생성 규정</h4>
			<div class="M_info_div">
				<p class="M_font_bold">Custom CSS 인 경우, 중복을 피하기 위해서 "M_" 을 붙여준다.</p>
				<p class="M_font_bold" style="color: green;">
					.M_textCenter {text-align: center}<br>
					.M_textLeft {text-align: left}<br>
					.M_textRight {text-align: right}<br>
				</p>
			</div>
		</div>
		<!--스낵바 기능-->
		<div>
			<h1 style="border-bottom: 3px solid #BDBDBD; padding-bottom: 10px;">SNCAKBAR</h1>
			<h4>스낵바 사용방법</h4>
			<div class="M_info_div">
				<xmp class="M_font_bold" style="white-space: pre-wrap; font-size: 14px; font-family: 'NanumGothic', 'sans-serif';"><script src="../static/js/snackbar.js"></script>
				</xmp>
				<p class="M_font_bold" style="color: green;">
					snackbar("원하는 문자열");
				</p>
			</div>
		</div>
		<!--IMG 저장 규정-->
		<div>
			<h1 style="border-bottom: 3px solid #BDBDBD; padding-bottom: 10px;">IMAGE</h1>
			<h4>IMGAE 저장 규정</h4>
			<div class="M_info_div">
				<p class="M_font_bold">홈페이지 구성 이미지</p>
				<p class="M_font_bold" style="color: green;">../static/image/이미지명.확장자명</p>
				<p class="M_font_bold">저장 이미지</p>
				<p class="M_font_bold" style="color: green;">../static/image_save/이미지명.확장자명</p>
			</div>
		</div>
		<!--DIV 생성 규칙-->
		<div>
			<h1 style="border-bottom: 3px solid #BDBDBD; padding-bottom: 10px;">DIV</h1>
			<h4>DIV 생성 규정</h4>
			<div class="M_info_div">
				<p class="M_font_bold">Dark 테마 적용을 위해서 아래 클래스를 제일 앞에 선언해주도록 한다.</p>
				<p class="M_font_bold" style="color: green;">.M_info_div</p>
			</div>
		</div>
	</div>
	<!--하단 정보-->
	<div class="M_footer">
		<img src="../static/image/foot.png" class="M_footer_img">
		<p class="M_footer_p">010-7393-3434 | sejong1sc@gmail.com | 학생회관 409호<br>COPYRIGHT ⓒ 2019 Team IML</p>
	</div>
</body>



<!-- JQuery JS -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<!-- Identification JS -->
<script src="../static/js/pnglib.js"></script>
<script src="../static/js/identicon.js"></script>
<script src="../static/js/identification.js"></script>
<!-- AJAX JS -->
<script src="../static/js/ajax.js"></script>
<!-- Snackbar JS -->
<script src="../static/js/snackbar.js"></script>
<!--side menu-->
<script src="../static/js/sidemenu/modernizr.custom.js"></script>
<script src="../static/js/sidemenu/classie.js"></script>
<script src="../static/js/sidemenu/gnmenu.js"></script>
<script src="../static/js/sidemenu/dropdown.js"></script>
<script>
	new gnMenu( document.getElementById( 'gn-menu' ) );
</script>
<!--custom JS-->
<script src="../static/js/test_url.js"></script>
<script src="../static/js/login.js"></script>
<script src="../static/js/themeChange.js"></script>
</html>