<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>test</title>
</head>
<body>
	<form id="test">
		<fieldset>
			<legend>테스트 업로드 ^ㅂ^</legend>
			<input type="file" id="files-upload" multiple="multiple">
			<br><br>
			<div type="submit" onclick="image_send()" style="cursor: pointer; border: 1px solid black; width: 100px; height: 50px;">^ㅁ^</div>
		</fieldset>
	</form>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="../static/js/ajax.js"></script>
<script src="../static/js/test_url.js"></script>
<script src="../static/js/image.js"></script>
</html>