/*구글폰트*/
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap&subset=korean');
/*나눔고딕 : 포스트글에 잘 어울림*/
@font-face { 
  font-family: 'NanumGothic';
  src: url('../fonts/NanumBarunGothic/NanumGothic.eot') format('embedded-opentype'),
  url('../fonts/NanumBarunGothic/NanumGothic.woff') format('woff');
}
/*나눔바른고딕 : 제목같은 것에 잘 어울림*/
@font-face { 
  font-family: 'NanumBarunGothic';
  src: url('../fonts/NanumBarunGothic/NanumBarunGothic.eot') format('embedded-opentype'),
  url('../fonts/NanumBarunGothic/NanumBarunGothic.woff') format('woff');
}




* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	font-family: 'NanumGothic', sans-serif;
  height:85%;
	z-index: -100;
}
/*스크롤바 숨기기*/
body::-webkit-scrollbar { 
  display: none; 
}
@media screen and (max-width: 760px) {
  body {
    max-height: 600px;
  }
}
/* 스낵 바 ===============================================================*/
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: rgb(87, 86, 86); /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 4px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  right: 30px; /* Center the snackbar */
  bottom: 20px; /* 20px from the bottom */
  cursor: default;
  box-shadow: 0 0 3px #bbbbbb; 
  z-index: 10000;
}
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 20px; opacity: 1;}
}
@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 20px; opacity: 1;}
}
@-webkit-keyframes fadeout {
  from {bottom: 20px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
  from {bottom: 20px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
/* 로그인 CSS ===============================================================*/
input {
  outline: none;
  border: none;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }
input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

.wrap-login100 {
  width: 390px;
  background: #fff;
}
.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #d9d9d9;
}

.input100 {
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 52px;
  background: transparent;
  padding: 0 5px;
  margin: 5px 5px 0 5px;
}

.focus-input100 {
  font-family: 'NanumBarunGothic', sans-serif;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #c30e2e;
}

.focus-input100::after {
  font-size: 18px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 15px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -20px;
  font-size: 17px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -20px;
  font-size: 17px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}




/* 클래스 =================================================================*/
.M_font_thin {font-weight: lighter}
.M_font_normal {font-weight: normal}
.M_font_bold {font-weight: bold}

.M_float_left {float: left;}

.M_textCenter {text-align: center}
.M_textLeft {text-align: left}
.M_textRight {text-align: right}

.display_none {display: none}
.display_block {display: block}

.M_dropdwon_trf {transform: translate(0, 5px)}
.M_dropdown_hypeon {padding: 0 22px 0 30px}

.M_boxshadow {box-shadow: 0px 5px 20px -10px}
.M_boxshadow_sidemenu {box-shadow: 0px 20px 20px -4px}
.M_boxshadow_user {box-shadow: 0px 10px 20px -10px}
@media screen and (max-width: 420px) {
  .M_boxshadow_sidemenu {box-shadow: 0px 0px 0px 0px}
}

.M_dropdown_icon {
  position: absolute; right: 10px; margin-right: 30px; line-height: 60px;
}
@media screen and (max-width: 760px) {
  .M_dropdown_icon {
    position: absolute; left: 320px !important; line-height: 60px;
  }
}
@media screen and (max-width: 420px) {
  .M_dropdown_icon {
    position: absolute; left: 380px !important; line-height: 60px;
  }
}
@media screen and (max-width: 400px) {
  .M_dropdown_icon {
    position: absolute; left: 350px !important; line-height: 60px;
  }
}
@media screen and (max-width: 360px) {
  .M_dropdown_icon {
    position: absolute; left: 330px !important; line-height: 60px;
  }
}
@media screen and (max-width: 320px) {
  .M_dropdown_icon {
    position: absolute; left: 300px !important; line-height: 60px;
  }
}

.M_nav_user {
  position: absolute;
  top: 65px;
  right: 5px;
  width: 200px;
  height: 290px;
  background-color: white;
}
.M_nav_user_nologin {
  height: 100px;
}
.M_nav_user > a {height: 50px; line-height: 50px;}

.M_nav_border{
  position: relative;
  margin: auto;
  width: 98%;
  height: 1px;
  background-color: #e2e2e2;
}
.M_nav_user_button{
  color: white;
}
.M_nav_user_button:hover {
  color: white !important;
}

.M_search_bar {
  position: absolute;
  width: 96%;
  height: 56px;
  top:10px;
  left: 2%;
  background-color: white;
  z-index: 100;
}
.M_search_bar > input {
  position: absolute;
  width: 90%;
  height: 50px;
  top: 3px;
  left: 5%;
  font-size: 20px;
  line-height: 50px;
  border: 0;
  border-bottom: 2px solid #dee1e6;
  font-family: 'NanumGothic', 'sans-serif';
}
.M_sidemenu {
  position: relative;
  z-index: 100;
}

.M_footer_up {
  position: relative;
  width: 100%;
  height: 10%;
}
.M_footer {
  position: static;
  width: 100%;
  height: 90px;
  bottom: 0px;
  z-index: 0;
  background-color: rgba(0,0,0,0);
  text-align: center;
  line-height: 10px;
  font-size: 10px;
  margin: 50px 0 10px;
  font-family: 'NanumGothic', 'sans-serif';
}
.M_footer_img {
  z-index: 0;
  position: static;
  left: 10px;
  bottom: 5px;
  height: auto;
  width: 300px;
  margin-left: 50px;
  margin-right: 50px;
}
.M_footer_p {
  position: sta;
  bottom: 0px;
  text-align: center;
  width: 100%;
  line-height: 20px;
}
@media (max-width: 1000px) {
  .M_footer_img {
    position: static;
    bottom: 60px;
    left: 50%;
    transform: translate(0, 0);
    width: 250px;
    height: auto;
  }
}
@media (max-width: 450px) {
  .M_footer {
    position: static;
    width: 100%;
    height: 90px;
    bottom: 0px;
    z-index: 0;
    background-color: rgba(0,0,0,0);
    text-align: center;
    line-height: 10px;
    font-size: 10px;
    margin: 50px 0 10px;
    font-family: 'NanumGothic', 'sans-serif';
  }
  .M_footer_img {
    z-index: 0;
    position: static;
    left: 50%;
    bottom: 60px;
    height: auto;
    width: 250px;
  }
  .M_footer_p {
    position: static;
    bottom: 0px;
    text-align: center;
    width: 100%;
    line-height: 20px;
  }
}

.M_body {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 80px;
  padding: 20px;
  z-index: 0;
  font-family: 'NanumGothic', 'sans-serif';
}
.M_info_div {
  background-color: white;
  color: #3E5569;
  padding: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border: 0.5px solid #dddddd;
}


.M_white_theme{
  background-color: #f5f6fa;
}
.M_dark_theme {
  color: #e2e2e2;
  background-color: #202124;
}
.M_dark_theme_body {
  background-color: #323639;
}
.M_boxshadow_dark_shadow {box-shadow: 0px 5px 30px -10px rgb(0,0,0);}
.M_boxshadow_dark_sidemenu {box-shadow: 0px 20px 30px -4px rgb(0,0,0)}
.M_boxshadow_dark_user {box-shadow: 0px 10px 30px -10px rgb(0,0,0)}

.M_login_box {
  position: relative;
  margin: auto;
  padding: 20px;
  width: 600px;
  height: 270px;
  background-color: white;
  box-shadow: 0px 10px 30px -20px rgb(0,0,0);
}
@media screen and (max-width: 760px) {
  .M_login_box {
    position: relative;
    margin: auto;
    padding: 20px;
    width: 98%;
    height: 270px;
    background-color: white;
    box-shadow: 0px 10px 30px -20px rgb(0,0,0);
  }
}
.M_login_submit {
  position: relative;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  width: 100%;
  height: 50px;
  background-color: rgb(0,0,0,0);
  border: 2px solid #d9d9d9;
  font-family: 'NanumBarunGothic', sans-serif;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  transition: 0.6s;
}
.M_login_submit:hover {
  border: 2px solid #c30e2e;
}



.M_user_box {
  position: relative;
  margin: auto;
  margin-top: 130px;
  margin-bottom: 60px;
  width: 90%;
  max-width: 1000px;
  height: 150px;
  background-color: rgba(0,0,0,0);
}
.M_user_img_container {
  position: relative;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 15px;
  width: 50px;
  height: 50px;
}
.M_user_img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #D8D8D8;
  cursor: pointer;
}
.M_user_img_container:active{
  transform: scale(0.9, 0.9);
}
@media screen and (min-width: 450px) {
  .M_user_img:hover{
    color: white;
  }
}
.fa-cog {
  font-size: 20px;
  line-height: 50px;
}
.M_user_info_container {
  position: relative;
  margin: auto;
  margin-bottom: 5px;
  width: 130px;
  height: 100px;
  line-height: 20px;
}
.M_user_nickname {
  position: relative;
  float: left;
  width: 65%;
  height: auto;
  padding-top: 10px;
  margin-bottom: 20px;
  font-size: 30px;
}
.M_user_nickname_fix {
  cursor: pointer;
}
.M_user_nickname_fix:hover {
  color: white;
  text-shadow: 0px 0px 2px #999999;
}
.M_user_introduce {
  font-size: 13px;
  height: auto;
  margin: 0;
}
.M_user_title{
  display: inline-block;
  font-family: 'NanumBarunGothic', sans-serif;
  margin-top: 12px;
  font-size: 15px;
  margin-right: 5px;
}
.M_user_writecnt{
  font-family: 'NanumBarunGothic', sans-serif;
  display: inline-block;
  margin-top: 12px;
  font-size: 15px;
}
.M_user_nickname_width {
  display: inline-block;
}
@media screen and (max-width: 600px) {
  .M_user_box {
    position: relative;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 60px;
    width: 100%;
    max-width: 100%;
    height: 90px;
    background-color: rgba(0,0,0,0);
  }
  .M_user_img_container {
    position: relative;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 8px;
    width: 50px;
    height: 50px;
  }
  .M_user_img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #A9A9F5;
  }
  .M_user_info_container {
    position: relative;
    margin: auto;
    margin-bottom: 10px;
    width: 130px;
    height: 100px;
  }
  .M_user_nickname {
    position: relative;
    float: left;
    width: 65%;
    height: auto;
    padding-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .M_user_nickname_width{
    width:80%;
    padding: 5px; 
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    display: inline-block;
  }
  .M_user_nickname_fix {
    cursor: pointer;
  }
  .M_user_nickname_fix:hover {
    color: white;
    text-shadow: 0px 0px 2px #999999;
  }
  .M_user_introduce {
    font-size: 15px;
    margin-top: 0px;
    height: 20px;
  }
  .M_user_title{
    display: inline-block;
    font-family: 'NanumBarunGothic', sans-serif;
    margin-top: 12px;
    font-size: 15px;
    margin-right: 5px;
    transform: translate(-94px, 5px);
  }
  .M_user_writecnt{
    font-family: 'NanumBarunGothic', sans-serif;
    display: inline-block;
    margin-top: 12px;
    font-size: 15px;
    transform: translate(-94px, 5px);
  }
}
@media screen and (max-width: 370px) {
  .M_user_introduce {
    font-size: 15px;
    margin-top: 10px;
  }
  .M_user_title{
    display: inline-block;
    font-family: 'NanumBarunGothic', sans-serif;
    margin-top: 20px;
    font-size: 15px;
    margin-right: 5px;
    transform: translate(-90px, 5px);
  }
  .M_user_writecnt{
    font-family: 'NanumBarunGothic', sans-serif;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    transform: translate(-90px, 5px);
  }
}
@media screen and (max-width: 320px) {
  .M_user_introduce {
    font-size: 14px;
    margin-top: 10px;
  }
  .M_user_title{
    display: inline-block;
    font-family: 'NanumBarunGothic', sans-serif;
    margin-top: 20px;
    font-size: 15px;
    margin-right: 5px;
    transform: translate(-82px, 0);
  }
  .M_user_writecnt{
    font-family: 'NanumBarunGothic', sans-serif;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    transform: translate(-82px, 0);
  }
}

.M_user_choice_box {
  position: relative;
  width: 100%;
  height: 44px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.M_user_choice_write {
  position: relative;
  float: left;
  margin: auto;
  width: 50%;
  height: 100%;
  color: #999;
  text-align: center;
  cursor: pointer;
  font-size: 30px;
}
.M_user_choice_write:active {
  color: #ddd;
}
.M_user_choice_like {
  position: relative;
  float: right;
  margin: auto;
  width: 50%;
  height: 100%;
  color: #999;
  text-align: center;
  cursor: pointer;
  font-size: 30px;
}
.M_user_choice_like:active {
  color: #ddd;
}
.M_user_choice_selected {
  color: #c30e2e;
}
.M_user_post {
  position: relative;
  margin: auto;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
  max-width: 1000px;
  height: 140px;
}

/*Board*/
.M_board_tag_container {
  position: relative;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 70%;
  max-width: 800px;
  height: 20px;
}
.M_board_tag_title {
  display: inline-block;
  margin-right: 10px;
}
.M_board_contents_container {
  position: relative;
  margin: auto;
  margin-top: 10px;
  width: 70%;
  max-width: 800px;
  height: auto;
}
.M_board_content {
  position: relative;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
}
@media screen and (max-width: 800px) {
  .M_board_tag_container {
    position: relative;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    max-width: 800px;
    height: 20px;
  }
  .M_board_contents_container {
    position: relative;
    margin: auto;
    margin-top: 10px;
    width: 90%;
    max-width: 800px;
    height: auto;
  }
}


.M_user_color_selector_container_modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 150;
}
.M_user_color_selector_container {
  position: absolute;
  width: 95%;
  max-width: 500px;
  height: 90%;
  max-height: 700px;
  min-height: 620px;
  top: 5%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 200;
}
@media screen and (max-width: 800px) {
  .M_user_color_selector_container {
    position: absolute;
    width: 95%;
    max-width: 500px;
    height: 80%;
    max-height: 700px;
    min-height: 560px;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 200;
  }
}
@media screen and (min-height: 800px) {
  .M_user_color_selector_container {
    position: absolute;
    width: 95%;
    max-width: 500px;
    height: 80%;
    max-height: 580px;
    min-height: 620px;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 200;
  }
}
@media screen and (min-height: 1300px) {
  .M_user_color_selector_container {
    position: absolute;
    width: 95%;
    max-width: 500px;
    height: 80%;
    max-height: 660px;
    min-height: 560px;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 200;
  }
}
.M_user_color_selected_label {
  position: relative;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .M_user_color_selected_label {
    position: relative;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
  }
}
.M_colorpicker_wrapper {
  margin: 20px 0;
}
@media screen and (max-width: 800px) {
  .M_colorpicker_wrapper{
    margin:10px 0;
  }
}
.user_color_selector_info_container {
  position: relative;
  width: 100%;
  height: 30%;
  padding: 10px;
}
@media screen and (max-width: 800px) {
  .user_color_selector_info_container {
    position: relative;
    width: 100%;
    height: 30%;
    padding: 0px;
  }
}
.user_color_selector_info_title {
  position: relative;
  margin: auto;
  margin-bottom: 20px;
  font-family: 'NanumBarunGothic', 'sans-serif';
  font-size: 25px;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .user_color_selector_info_title {
    position: relative;
    margin: auto;
    margin-bottom: 10px;
    font-family: 'NanumBarunGothic', 'sans-serif';
    font-size: 25px;
    text-align: center;
  }
}
.user_color_selector_info_content {
  position: relative;
  margin: auto;
  font-family: 'NanumGothic', 'sans-serif';
  font-size: 30px;
  width: 100%;
  height: 80px;
  padding: 23px 0;
}
@media screen and (max-width: 800px) {
  .user_color_selector_info_content {
    position: relative;
    margin: auto;
    font-family: 'NanumGothic', 'sans-serif';
    font-size: 30px;
    width: 100%;
    height: 70px;
    padding: 17px 0;
  }
}
.user_color_selector_info_content_label {
  position: relative;
  display: inline-block;
  float: left;
  width: 10px;
  height: 30px;
  border-radius: 4px;
  margin-right: 15px;
}
.user_color_selector_info_content_name{
  position: relative;
  display: inline-block;
  float: left;
  width: auto;
  height: 20px;
  margin-right: 10px;
  font-size: 20px;
  font-family: 'NanumGothic', 'sans-serif';
  font-weight: normal;
}

.M_user_color_select_choice_container {
  position: absolute;
  margin: 0 2%;
  margin-bottom: 20px;
  bottom: 0px;
  width: 100%;
  height: 50px;
  transform: translate(-10px, 0);
}
.M_user_color_select_choice {
  position: relative;
  display: inline-block;
  float: left;
  cursor: pointer;
  width: 48%;
  height: 100%;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
}
.M_user_color_select_choice:active {
  background-color: #c30e2e;
}
@media screen and (min-width: 450px) {
  .M_user_color_select_choice:hover {
    background-color: #c30e2e;
  } 
}



/*image board CSS================================================================*/
.M_image_contents_container {
  position: relative;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
  height: auto;
  max-width: 800px;
  padding-left: 5%;
}
@media screen and (min-width: 450px) {
  .M_image_contents_container {
    position: relative;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
    height: auto;
  }
}

.M_user_profile_color {
  display: inline-block;
  width: 1%;
  height: 28%;
  background-color: mediumpurple;
  border-radius: 20%;
  margin-left: 2%;
  margin-top: 1%;
  float: left;
}

.M_user_name {
  display: inline-block;
  margin-top: 1%;
  margin-left: 1%;
  float: left;
  font-weight: bold;
}

.M_time_info {
  display: inline-block;
  margin-top: 1%;
  margin-left: 1%;
  opacity: 0.6;
}

.M_board_content_title {
  display: block;
  margin-top: 2%;
  margin-left: 2%;
  font-size: 130%;
  font-weight: bold;
}

.M_board_content_icon {
  float: right;
  opacity: 0.7;
  margin-right: 1%;
  margin-top: 0.5%
}

.M_board_content_info {
  float: right;
  opacity: 0.7;
  margin-right: 1%;
}
.M_image_content {
    cursor: pointer;
}
.M_image_content_title {
    position: fixed;
    top: 100px;
    left: 50px;
    font-size: 40px;
}
@media screen and (max-width: 450px){
    .M_image_content_title {
        position: fixed;
        top: 70px;
        left: 20px;
        font-size: 40px;
    }
}
.pseudo-scroller {
    height: 3300px !important;
}
@media screen and (min-width: 1284px){
    .pseudo-scroller {
        height: 2200px !important;
    }
}



/*image board CSS================================================================*/
.M_image_contents_container {
    position: relative;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
    height: auto;
    max-width: 800px;
    padding-left: 5%;
}
@media screen and (min-width: 450px) {
    .M_image_contents_container {
        position: relative;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        max-width: 800px;
        height: auto;
    }
}
.M_image_content {
    cursor: pointer;
}
.M_image_content_title {
    position: fixed;
    top: 100px;
    left: 50px;
    font-size: 40px;
}
@media screen and (max-width: 450px){
    .M_image_content_title {
        position: fixed;
        top: 70px;
        left: 20px;
        font-size: 40px;
    }
}
.pseudo-scroller {
    height: 3300px !important;
}
@media screen and (min-width: 1284px){
    .pseudo-scroller {
        height: 2200px !important;
    }
}
/*==========



/*image board CSS================================================================*/
.M_image_contents_container {
  position: relative;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
  height: auto;
  max-width: 800px;
  padding-left: 5%;
}
@media screen and (min-width: 450px) {
  .M_image_contents_container {
    position: relative;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
    height: auto;
  }
}
.M_image_content {
  cursor: pointer;
}
.M_image_content_title {
  position: fixed;
  top: 100px;
  left: 50px;
  font-size: 40px;
}
@media screen and (max-width: 450px){
  .M_image_content_title {
    position: fixed;
    top: 70px;
    left: 20px;
    font-size: 40px;
  }
}
.pseudo-scroller {
  height: 3300px !important;
}
@media screen and (min-width: 1284px){
  .pseudo-scroller {
    height: 2200px !important;
  }
}
/*===============================================================================*/